<h1>Yow!  Legally-imposed CULTURE-reduction is CABBAGE-BRAINED!</h1>

<div><%= @message -%></div>

I said HELLO, sailor boy!
<%= link_to "Let me fill your needs!", :controller => 'date', :action => 'need', :foo => "bar" %>


