@charset "utf-8";

header {
    height: 100px;
    background: yellow;
    text-align: center;
    vertical-align: bottom;
}
h4 {
    color: red;
}

.illustratedleft {
    width: 200px;
    height: 300px;
    float: left;

    padding: 10px 0px 10px 0px;
    border: 5px solid black;
    margin-left: 15px;
    text-align: center;
    color: white;
    background: green;
    /* display: none; */
}

.illustratedright {
    width: 200px;
    height: 300px;
    float: right;
    
    padding: 10px 0px 10px 0px;
    border: 5px solid black;
    margin-right: 15px;
    text-align: center;
    color: white;
    background: blue;
}

hr {
    height: 5px;
    color: red;
}
